.berocket_aapf_widget {
  margin: 5px 0 1.41575em 3em;

  li {
    display: inline-block;

    input[type=radio]+label {
      display:inline-block;
      margin:0;
      padding: 4px 12px;
      background-color: #e7e7e7;

      &:hover {
        cursor: pointer;
        background: $color-primary;
        color: $color-white;
      }

      &::before {
        content: "";
        display: none;
      }
    }

    input[type=radio]:checked + label {
      background: #474747;
      color: $color-white;
    }
  }
}
