div.berocket_single_filter_widget {
  display: inline-block;

  aside {
    margin-top: 20px;
  }

  div.berocket_aapf_widget-wrapper * {
    cursor: default;
  }
}

.woocommerce-ordering {
  float: none;
}

.brand-filter {
  ul {
    margin: 0;

    li {
      display: inline-block;

      input[type=radio] {
        display: none;

        &+label {
          display:inline-block;
          margin: 0;
          margin-right: 10px;
          padding: 13px;
          background-color: #e7e7e7;

          &:hover {
            cursor: pointer;
            background: $color-primary;
            color: $color-white;
          }
        }
      }
    }
  }

  .berocket_aapf_reset_button {
    font-family: "Arvo", serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #e7e7e7;

    &:hover {
      background: $color-primary;
      color: $color-white;
    }
  }
}

.woocommerce-result-count {
  float: none !important;
}
