// Footer Layout
.site-footer {
  background-color: #474747;
  color: white;
  padding: 30px 0 0 0;
}

.footer-widgets {
  padding: 0 30px;

  .widget {
      padding: 0;
      margin: 0;
    }

  .widget-title {
    border: none;
    padding: 0;
  }
}

.footer-widgets.col-3 .block {
  margin-right: 0;
}

// Authorized Retailers
.authorized-retailers {
  display: flex;

  img {
    height: 115px;
    padding-right: 30px;
    width: 150px;
  }
}

// Seals
.footer-widget-2 {
  display: none;

  img {
    height: 100px;
  }
}

// Menu and Contact Info
.footer-widget-3 {
  display: flex;
  justify-content: flex-end;

  #text-4 {
    width: 100px;
  }

  #text-3 {
    p:first-of-type {
      display: flex;
      align-items: center;

      img {
        width: 36px;
        margin-right: 20px;
        position: relative;
        left: -10px;
      }
    }
  }

  #nav_menu-3 {
    margin-right: 10%;
  }
}


// Titles of Widgets
.widget-title {
  margin-bottom: 0 !important;
}


// Active Menu Items
ul.menu li.current-menu-item>a {
  color: $color-primary;
}

// Utility Bar
.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-tertiary;
  color: $color-white;
  padding: 10px 30px;
}

.footer-widgets.col-3 .block {
  width: 45%;
}
