// Global Site Header
.site-header {
  border-bottom: none;
  float: none;

  .site-branding {
    margin: 0;
  }

  .col-full {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   justify-content: space-between;
   max-width: 100%;

    &:before, &:after {
      content: none;
    }

    .storefront-primary-navigation {
      display: none;
    }
  }
}

#masthead {
  padding-top: 10px;
}


// Header Logo
.custom-logo-link img {
  width: 60%;
  margin: 0 auto;
}


// Header Shopping Cart
.site-header-cart {
  width: auto !important;
  height: 30px;

  .cart-contents {
    text-align: right;
    padding: 0;

    &:after {
      float: none;
    }
  }
}

.site-header-cart:hover .widget_shopping_cart {
  left: -100px !important;
  width: 250px !important;
}


// Header Search
.site-search {
  width: auto !important;
}

input[type=search] {
  background: transparent;
  border: 1px solid $color-primary;
  box-shadow: none;
}


// Page Titles
.entry-title {
  text-align: center;
  font-family: $font-serif;
  text-transform: uppercase;
}


// Free Shipping Banner Homepage
#post-21 {
  border-top: 2px solid $color-primary;

  &::after {
    @extend %shipping-banner;
    bottom: 0;
  }
}


// Free Shipping Banner Global
#site-navigation::after {
  @extend %shipping-banner;
  border-top: 2px solid $color-primary;
}
