$font-serif: 'Arvo', serif;
$font-sans-serif: 'Khula', sans-serif;

$color-primary: #EC4E20;
$color-secondary: #4E9FBE;
$color-tertiary: #698457;

$color-white: #ffffff;

%shipping-banner {
  content: 'Free Shipping on All Products!';
  font-family: $font-serif;
  font-size: 20px;
  background: $color-tertiary;
  padding: 10px;
  color: white;
  width: 100%;
  text-align: center;
  position: absolute;
}
