// Primary Navigation
.main-navigation ul.menu, .main-navigation ul.nav-menu {
  display: flex;
  justify-content: space-around;

  li {
    text-align: center;
    flex: 1;

    a {
      font-size: 18px;
    }
  }
}

.primary-navigation {
  border-bottom: 2px solid $color-primary;

  a {
    text-decoration: none;
  }
}

.main-navigation ul li a:hover {
  color: $color-primary;
}
