#payment .payment_methods li.woocommerce-PaymentMethod > input[type=radio]:first-child:checked + label::before, #payment .payment_methods li.wc_payment_method > input[type=radio]:first-child:checked + label::before {
  content: "";
}

#payment .payment_methods  {
  input[type=checkbox]+label, input[type=radio]+label {
    margin: 0;
  }

  li img {
    float: none;
    max-height: 2em;
  }
}

#payment .payment_methods>.wc_payment_method>label, #payment .payment_methods>.woocommerce-PaymentMethod>label {
  cursor: default;
}

#payment .payment_methods > li:not(.woocommerce-notice){
  background: #fafafa;
}

#payment .payment_methods>li:not(.woocommerce-notice):hover {
  background: #fafafa;
}

#payment .place-order {
  margin-top: 0;
}

#payment .payment_methods li .payment_box {
  padding-bottom: 0;
}
