// Built in WooCommerce Styles
.woocommerce-tabs .panel h2:first-of-type {
  display: none;
}

.woocommerce-tabs ul.tabs li, .woocommerce-tabs ul.tabs{
  border: none;
}

.woocommerce-tabs ul.tabs li:first-of-type {
  border-bottom: 1px solid $color-primary;
}

.woocommerce-tabs ul.tabs li.active, .woocommerce-tabs ul.tabs li.active a {
  color: $color-primary;
}


// Product Detail Styling
.single-product div.product p.price {
  margin: 10px 0;

  span {
    font-size: 25px;
  }
}

.addl-info {
  text-align: center;
}

.product_title {
  text-align: left;
}

#billing_state_field::after, #shipping_state_field::after {
  content: "Please call for ordering from Alaska and Hawaii";
  color: $color-black;
  font-size: 11px;
}
